<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
  </head>
  <body>
    <center>
      <h1>Hello <%= name %>,</h1>
      <h1>
        I am <%= name_1 %>,<br />
        BUT TOGETHER <%= join %>,
      </h1>
      <h2>I LOVE YOU DEAR</h2>
      <h3>MISS YOU DEAR</h3>
    </center>
  </body>
</html>
